* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  z-index: 8;
}

.nav-right a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.nav-right a:hover {
  color: #2f855a;
}

body {
  background: linear-gradient(rgba(40, 40, 40, 0.45), rgba(40, 40, 40, 0.45)),
    url("images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.welcome {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  background: none;
}

.welcome-content {
  color: white;
  padding: 60px 0px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
}

.welcome-content h2 {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
}

/* ======= FULL RECIPE SECTION ======= */

.recipes {
  padding: 120px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);

  color: white;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

.recipes h2 {
  font-size: 50px;
}

.recipes p {
  font-size: 20px;
}

/* from assignment 8 */
.search input {
  min-width: 300px;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid #eeeeee;
  margin: 30px 0 30px 0;
}

/* ======= CARD CONTAINER ======= */

.recipeList {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.28);
  border-radius: 16px;
}

/* ======= INDIVIDUAL RECIPE CARDS ======= */

.card {
  max-width: 700px;
  min-width: 700px;
  padding: 40px;
  border-radius: 16px;

  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.28);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card:hover {
  box-shadow: 0 14px 34px rgba(0, 0, 0, 0.4);
}

.card h2 {
  font-size: 28px;
}

.card p {
  font-size: 18px;
}

.card img {
  width: 60%;
  margin: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.28);
  border-radius: 16px;
}

h3 {
  margin: 20px, 0, 20px;
}

.servings-input {
  margin-bottom: 10px;
  max-width: 200px;
}

.ing-list {
  list-style: none;
  margin-bottom: 10px;
}
