* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  z-index: 8;
}

.nav-right a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.nav-right a:hover {
  color: #2f855a;
}

body {
  background: linear-gradient(rgba(40, 40, 40, 0.45), rgba(40, 40, 40, 0.45)),
    url("images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  background: none;
}

.hero-content {
  color: white;
  padding: 40px 20px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
}

.hero-content h2 {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
}

.recipes {
  padding: 120px 20px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(8px);
  width: 100%;
  text-align: center;

  color: white;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

.recipes h2 {
  font-size: 50px;
}

.recipes p {
  font-size: 20px;
  margin-bottom: 60px;
}

.r {
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.28);
  padding: 50px;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card {
  min-width: 500px;
  padding: 40px;
  border-radius: 16px;

  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.28);

  text-align: center;
}

.card:hover {
  box-shadow: 0 14px 34px rgba(0, 0, 0, 0.4);
}

.card h2 {
  font-size: 28px;
}

.card p {
  font-size: 18px;
}
